## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
cleaneddf = application_df.drop(["EIN", "NAME"], 1)
cleaneddf.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [4]:
# Determine the number of unique values in each column.
cleaneddf.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
appcounts = cleaneddf["APPLICATION_TYPE"].value_counts()
appcounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = list(appcounts[appcounts <500].index)


# Replace in dataframe
for app in application_types_to_replace:
    cleaneddf['APPLICATION_TYPE'] = cleaneddf['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
cleaneddf['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classcounts = cleaneddf["CLASSIFICATION"].value_counts()
classcounts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
over1 = classcounts[classcounts > 1]
over1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(classcounts[classcounts < 1000].index)


# Replace in dataframe
for cls in classifications_to_replace:
    cleaneddf['CLASSIFICATION'] = cleaneddf['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
cleaneddf['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
appwdummies = pd.get_dummies(cleaneddf)
appwdummies

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [13]:
# Split our preprocessed data into our features and target arrays
x = appwdummies.drop("IS_SUCCESSFUL", axis='columns').values
y = appwdummies["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x, y)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_inputs = len(X_train[0])
layer1Nodes = 85
layer2Nodes = 44

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer1Nodes, input_dim= number_inputs, activation='relu')
)
# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer2Nodes, input_dim= number_inputs, activation='relu')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, input_dim= layer2Nodes, activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 85)                3740

 dense_1 (Dense)             (None, 44)                3784

 dense_2 (Dense)             (None, 1)                 45

=================================================================
Total params: 7,569
Trainable params: 7,569
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5725 - accuracy: 0.7214
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5571 - accuracy: 0.7308
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5544 - accuracy: 0.7312
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5518 - accuracy: 0.7311
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5512 - accuracy: 0.7324
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5499 - accuracy: 0.7333
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7324
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7328
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7321
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7345
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7341
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7346
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7357
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7348
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7350
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7359
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7360
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7359
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7363
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7367
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7358
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7365
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7377
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7370
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7368
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7372
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7382
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7369
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7377
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7383
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7392
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7382
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7384
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7383
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7388
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7389
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7386
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7393
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7390
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7390
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7387
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7392
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7388
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7391
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7389
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7404
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7386
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7403
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7394
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7398
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7394
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7395
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7399
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7403
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7402
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7403
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7401
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7395
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7404
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7403
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7401
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7410
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7406
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7396
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7405
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7406
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7406
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7410
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7405
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7403
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7406
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7394
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7418
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7407
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7398
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7411
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7408
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7411
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7408
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7409

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5688 - accuracy: 0.7283 - 501ms/epoch - 2ms/step
Loss: 0.5688132643699646, Accuracy: 0.7282798886299133

In [19]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")